<tr>
  {{#if esDirectorio}}
    <td>
      <p> {{archivo.name}} </p>
    </td>
    <td class='text-center'>
      DIRECTORIO
    </td>
    <td>
      <button class="btn btn-xs btn-primary" {{action "abrir"}}>Abrir</button>
     </td>
  {{else}}
    <td>
      {{archivo.name}}
    </td>
    <td class='text-center'>
      ARCHIVO
    </td>
    <td>
      <button class="btn btn-xs btn-success" {{action "descargar"}}>Descargar</button>


    </td>
  {{/if}}
</tr>
