<div class="wrapper">

  <header class="main-header">

    {{#link-to "index" class="logo"}}
    <span class="logo-mini"><b>huayra</b> compartir</span>
    <span class="logo-lg"><b>huayra</b> compartir</span>
    {{/link-to}}

    <nav class="navbar navbar-static-top" role="navigation">
        {{huayra-globalspinner}}
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">

      <ul class="sidebar-menu">
        <li class="header">Secciones</li>
        {{#link-to "index" tagName="li" class="conAccion" current-when="index"}}<a>{{fa-icon "fa-television"}} Principal</a>{{/link-to}}
        {{#link-to "archivos" (query-params host="localhost" path="") tagName="li" classBinding="apiStatus:conAccion" current-when="archivos" disabled=notApiStatus}}<a>{{fa-icon "fa-clone"}} Mis Archivos</a>{{/link-to}}
        {{#link-to "descargas" tagName="li" classBinding="apiStatus:conAccion" current-when="descargas" disabled=notApiStatus}}<a>{{fa-icon "fa-download"}} Descargas</a>{{/link-to}}
        {{#link-to "equipos" tagName="li" classBinding="avahiStatus:conAccion" current-when="equipos" disabled=notAvahiStatus}}<a>{{fa-icon "map-o"}} Equipos</a>{{/link-to}}
        {{#link-to "preferencias" tagName="li" classBinding="apiStatus:conAccion" current-when="preferencias" disabled=notApiStatus}}<a>{{fa-icon "gears"}} Preferencias</a>{{/link-to}}
      </ul>


      <div class="services-status-block">
        <span class="services-status pull-left">Status: </span>

        <span class="services-status pull-right">API:
        {{#if apiStatus}} {{ fa-icon "check-circle" }}
        {{ else }} {{ fa-icon "circle" }}
        {{/if}}
        </span>

        <span class="services-status pull-right">Avahi:
        {{#if avahiStatus}} {{ fa-icon "check-circle" }}
        {{ else }} {{ fa-icon "circle" }}
        {{/if}}
        </span>
      </div>

    </section>
  </aside>

  <div class="content-wrapper" style="min-height: 400px;">

    {{outlet}}

  </div>

</div>
