<div class="wrapper">

  <header class="main-header">

    {{#link-to "index" class="logo"}}
    <span class="logo-mini"><b>huayra</b> compartir</span>
    <span class="logo-lg"><b>huayra</b> compartir</span>
    {{/link-to}}

    <nav class="navbar navbar-static-top" role="navigation">
      {{huayra-globalspinner}}
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">

      <ul class="sidebar-menu">
        <li class="header">Secciones</li>

        {{#link-to "index" tagName="li" class="conAccion" current-when="index"}}<a>{{fa-icon "fa-television"}} Principal</a>{{/link-to}}
        {{#link-to "archivos" (query-params host="localhost" path="") tagName="li" class="conAccion" current-when="archivos"}}<a>{{fa-icon "fa-clone"}} Mis Archivos</a>{{/link-to}}
        {{#link-to "equipos" tagName="li" class="conAccion" current-when="equipos"}}<a>{{fa-icon "map-o"}} Equipos</a>{{/link-to}}
      </ul>

    </section>
  </aside>

  <div class="content-wrapper" style="min-height: 400px;">

    {{outlet}}

  </div>

</div>
