<section class="content-header">
  <h1> Archivos
    {{#if esLocalhost}}
      de mi equipo
    {{else}}
      de {{host}}
    {{/if}}
  </h1>
</section>

<section class="content">

  <div class="row">
    <div class="col-xs-12">

      <div class="padding-bottom">
        <button class="btn btn-default" {{action "volver"}}>{{fa-icon "arrow-left"}} Volver atrás</button>
        <button class="btn btn-default" {{action "actualizar"}}>{{fa-icon "refresh"}} Recargar</button>
      </div>

      <div class="padding-bottom">
        {{huayra-ruta path=path}}
      </div>

      <div class="box">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Nombre</th>
                <th class='text-right' style="width: 140px">Tamaño</th>
                <th class='text-center' style="width: 140px">Acciones</th>
              </tr>

              {{#each model.archivos as |item|}}
                {{huayra-archivo archivo=item tagName="" host=host ctrl=this}}
              {{else}}
                <tr>
                  <td colspan=5 class='text-center text-danger'>No hay archivos para mostrar...</td>
                </tr>
              {{/each}}
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
</section>
